<html lang="en">
<title>CompSci Store</title>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CompSci Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span><form method="post" action="/home" style="max-height: 0">
        <a class="nav-link" href="#" onclick="this.closest('form').submit();return false;">Home </span> <span class="sr-only">(current)</span></a>
      </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Basket
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
          <div class="row">


          {% if 'cart' in session %}
          <span>
            <p class="card-title" style="font-weight: bold; text-align: center;">You have {{ Current_Cart|length }} items in your cart</p>
              <hr class="dropdown-divider">
          {% for x in Current_Cart %}
          <div class="card mb-3 text-white bg-dark" style="width: 20rem">
            <div class="row">
              <div class="col-md-6">
                <img src={{x[3]}} alt="..." style="width: 10rem;">
              </div>
              <div class="col-md-6">
                  <h5 class="card-title">{{x[1]}}</h5>
                  <span class="card-text" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{x[4]}}</span>
                  <span class="card-text"><small class="text-muted">£{{x[5]}}</small></span>
                    <form method="post" action="/remove">
                        <input type='hidden' name="code" value={{x[0]}}>
                        <input type="submit" class="btn btn-primary" value="Remove">
                    </form>
                </div>
              </div>
            </div>
          {% endfor %}


          <p class="card-title" style="font-weight: bold; text-align: left;">Total:  £{{Price_Total}}</p>
            <hr class="dropdown-divider">
          {% endif%}
          {% if not 'cart' in session %}
              <a class="dropdown-item" href="#"> There is no items in the cart </a>
          {% endif%}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container-fluid bg-light">
</div>
<div class="container">
  <br>
  <br>
<div class="row">
  <p> </p>
</div>
      <div class="card text-black bg-light">
        <div class="row">
          <div class="col-md-8 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <p class="card-title" style="margin-left: 1rem; margin-top: 0.6rem; font-size: 1.4rem"><b>Shopping Basket</b></p>
              </div>
            <div class="col align-self-center text-right text-black">{{ Current_Cart|length }} items</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<p>
</p>

      {% for x in Current_Cart%}
      <div class="row" style="margin-left: 0rem;">
      <div class="card mb-3" style="max-width: 750px;">
        <div class="row">
          <div class="col-md-4">
            <img src="{{x[3]}}" alt="..." style="width: 15rem;">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">{{x[1]}}</h5>
              <p class="card-text">{{x[4]}}</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              <div class="col align-self-center text-right text-black" style="font-size: 1.5rem">£{{x[5]}}</div>
              <form method="post" action="/removeBasket">
                  <input type='hidden' name="code" value={{x[0]}}>
                  <input type="submit" class="btn btn-primary" value="Remove from Basket">
              </form>
            </div>
          </div>
          </div>
        </div>
      <div class="col-md-4">
        {%if loop.index0 == 0 %}
        <div class="card" style="width: 28.4rem;">
          <div class="card-body">
            <h5 class="card-title">Total £{{Price_Total}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Sub-Total £{{Price_Total}}</h6>
            <p class="card-text">We now accept Pokecoin!</p>
            <image src="/static/Pokecoin3.jpg" style=" max-width: 12rem; max-height:8rem">
            <br>
            <hr>
          <div class="row">
            <div class="col-sm-1-12">
              <form method="post" action="/home" style="max-height: 0; max=width : 0">
            <a href="#" class="card-link"  style="margin-left: 1rem" onclick="this.closest('form').submit();return false;">Continue Shopping</a>
              </form>
            </div>
            <div class="col-md-1-25">
              <form method="post" action="/checkout" style="max-height: 0; max=width : 0">
            <a href="#" class="card-link" style="text-align: left; margin-left: 10.1rem;"  onclick="this.closest('form').submit();return false;">Go to checkout</a>
          </form>
        </div>
      </div>
          </div>
        </div>
        {% endif%}
      </div>
    </div>
      {% endfor%}

  </div>
</div>
<div><p></p></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
