<html lang="en">
<title>CompSci Store</title>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CompSci Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <span><form method="post" action="/home" style="max-height: 0">
        <a class="nav-link" href="#" onclick="this.closest('form').submit();return false;">Home </span> <span class="sr-only">(current)</span></a>
      </form>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Account</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Basket
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="container">
          <div class="row">


          {% if 'cart' in session %}
          <span>
            <p class="card-title" style="font-weight: bold; text-align: center;">You have {{ Current_Cart|length }} items in your cart</p>
              <hr class="dropdown-divider">
          {% for x in Current_Cart %}
          <div class="card mb-3 text-white bg-dark" style="width: 20rem">
            <div class="row">
              <div class="col-md-6">
                <img src={{x[3]}} alt="..." style="width: 10rem;">
              </div>
              <div class="col-md-6">
                  <h5 class="card-title">{{x[1]}}</h5>
                  <span class="card-text" style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;">{{x[4]}}</span>
                  <span class="card-text"><small class="text-muted">£{{x[5]}}</small></span>
                    <form method="post" action="/remove">
                        <input type='hidden' name="code" value={{x[0]}}>
                        <input type="submit" class="btn btn-primary" value="Remove">
                    </form>
                </div>
              </div>
            </div>
          {% endfor %}


          <p class="card-title" style="font-weight: bold; text-align: left;">Total:  £{{Price_Total}}</p>
            <hr class="dropdown-divider">
          {% endif%}
          {% if not 'cart' in session %}
              <a class="dropdown-item" href="#"> There is no items in the cart </a>
          {% endif%}
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



<div class="container-fluid bg-light">
</div>
<div class="container">
  <br>
  <div class="icon-demo mb-4 border rounded-3 d-flex align-items-center justify-content-center p-3 py-6" style="font-size: 4rem" role="img aria-label="Bag check fill - large preview"">
  <svg xmlns="http://www.w3.org/2000/svg" width="4rem" height="4rem" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
</svg>
</div>
<div class="row">
</div>
      <div class="card text-black bg-light">
        <div class="row">
          <div class="col-md-8 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <p class="card-title" style="margin-left: 1rem; margin-top: 0.6rem; font-size: 1.4rem"><b>Checkout</b></p>
              </div>
            <div class="col align-self-center text-right text-black">{{ Current_Cart|length }} items</div>
          </div>
        </div>
      </div>
    </div>
  </div>
<p>
</p>

      <div class="row" style="margin-left: 0rem;">
      <div class="col-md-7" style="padding-left: 0rem">
      <div class="card mb-5 bg-light" style="max-width: 1000px; margin-left: 0rem">
          <div class="col-md-6">
              <div class="card-body" style="margin-left: 0rem; max-height: 5rem">
              <h4 class="mb-5"> Billing Address </h4>
            </div>
          </div>
          <form class="needs-validation" novalidate="">
          <div class="row">
          <div class="col-md-5" style="margin-left: 2rem;">
              <p class="mb-3" for="firstName"> First Name </p>
          </div>
          <div class="col-md-5" style="margin-left: 2rem;">
              <p class="mb-3" for="lastName"> Last Name </p>
          </div>
          <div class="col-md-5" style="margin-left: 2rem;">
            <input id="firstName" class="form-control" type="text" placeholder="" value="" required="" data-tooltip title="Enter your First Name">
          </div>
          <div class="col-md-5" style="margin-left: 2rem;">
            <input id="lastName" class="form-control" type="text" placeholder="" value="" required="" data-tooltip title="Enter your Last Name">
          </div>
          <div class="col-md-9" style="margin-left: 2rem;">
            <br>
            <p class="mb-3" for="email"> Email </p>
          </div>
          <div class="col-md-9" style="margin-left: 2rem;">
            <input id="email" class="form-control" type="text" placeholder="" value="ashketcham@pokemon.com" required="" data-tooltip title="Enter your Email Address">
          </div>
          <div class="col-md-9" style="margin-left: 2rem;">
            <br>
            <p class="mb-3" for="Address"> Address </p>
          </div>
          <div class="col-md-9" style="margin-left: 2rem;">
            <input id="Address" class="form-control" type="text" placeholder="" value="123 Pallet Town" required="" data-tooltip title="Enter the first line of your Address">
          </div>
          <div class="col-md-9" style="margin-left: 2rem;">
            <br>
            <p class="mb-3" for="Address"> Address 2 (Optional) </p>
          </div>
          <div class="col-md-9" style="margin-left: 2rem;">
            <input id="Address2" class="form-control" type="text" placeholder="" value="Ash's Room" required="" data-tooltip title="Enter any extra lines of your Address">
          </div>
          <div class="col-md-4" style="margin-left: 2rem;">
            <br>
            <p class="mb-3" for="Country"> Country </p>
          </div>
          <div class="col-md-4" style="margin-left: 2rem;">
            <br>
            <p class="mb-3" for="PostCode"> Post Code </p>
          </div>
          <div class="col-md-4" style="margin-left: 2rem;">
            <select id="country" class="custom-select d-block w-100" required="" data-tooltip title="Select the country within the UK">
              <option value="">Select...</option>
              <option>England</option>
              <option>Wales</option>
              <option>Scotland</option>
              <option>Northern Ireland</option>
            </select>
          </div>
          <div class="col-md-4" style="margin-left: 2rem;">
            <input id="PostCode" class="form-control" type="text" placeholder="" value="" required="" data-tooltip title="Enter your Postal Code">
        </div>
        <div class="col-md-11" style="margin-left: 2rem;">
        <hr>
        </div>
        <div class="col-md-9">
            <div class="card-body" style="margin-left: 1rem; max-height: 5rem">
            <h4 class="mb-5"> Payment Details </h4>
            </div>
        </div>
        <div class="col-md-5" style="margin-left: 2rem;">
            <p class="mb-3" for="NameCard"> Name on Card </p>
        </div>
        <div class="col-md-5" style="margin-left: 2rem;">
            <p class="mb-3" for="CardNum"> Card Number </p>
        </div>
        <div class="col-md-5" style="margin-left: 2rem;">
          <input id="NameCard" class="form-control" type="text" placeholder="" value="" required="" data-tooltip title="Enter the Name Written on your Card">
        </div>
        <div class="col-md-5" style="margin-left: 2rem;">
          <input id="CardNum" class="form-control" type="text" placeholder="" value="" required="" data-tooltip title="Enter the 16 digit Number on your Card">
          <br>
        </div>
        <div class="col-md-5" style="margin-left: 2rem;">
            <p class="mb-3" for="Expiration"> Expiration Date </p>
        </div>
        <div class="col-md-5" style="margin-left: 2rem;">
            <p class="mb-3" for="cvv"> CVV </p>
        </div>
        <div class="col-md-5" style="margin-left: 2rem;">
          <input id="Expiration" class="form-control" type="text" placeholder="" value="" required="" data-tooltip title="Enter the Expiration Date in format 'DD/YYYY'">
        </div>
        <div class="col-md-3" style="margin-left: 2rem;">
          <input id="cvv" class="form-control" type="text" placeholder="" value="" required="" data-tooltip title="Enter the 3 Digit Number on the back of your Card">
          <br>
        </div>
        <br>
        <hr>
        <div class="col-md-3" style="margin-left: 2rem;">
        <button class="w-100 btn-primary btn-lg" type="submit"> Pay </button>
        </div>
      </div>
      </form>
        </div>
        </div>


      <div class="col-md-4">
        <div class="card" style="width: 27.4rem;">
          <div class="card-body">
            <h5 class="card-title">Total £{{Price_Total}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Sub-Total £{{Price_Total}}</h6>
            <p class="card-text">We now accept Pokecoin!</p>
            <image src="/static/Pokecoin3.jpg" style=" max-width: 12rem; max-height:8rem">
            <br>
            <hr>
          <div class="row">
            <div class="col-sm-1-12">
              <form method="post" action="/home" style="max-height: 0; max=width : 0">
            <a href="#" class="card-link"  style="margin-left: 1rem" onclick="this.closest('form').submit();return false;">Continue Shopping</a>
              </form>
            </div>
            <div class="col-md-1-25">
              <form method="post" action="/basket" style="max-height: 0;">
              <a href="#" class="card-link" style="text-align: left; margin-left: 10.1rem;"  onclick="this.closest('form').submit();return false;">Back to Cart</a>
          </form>
        </div>
      </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div><p></p></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
  $(function () {
    $('[data-tooltip]').tooltip()
  });
</script>
</body>
</html>
